<?xml version="1.0"?>
<launch>

 <!-- NOTE: for 2 typhoon drones simulation, para mudar para o plane alterar depois tambem o load das variaeeis todas de configruacao -->


  <!-- Arguments received when starting the environment -->
  <arg name="nameShuttle" default="m690b"/>
  <arg name="nameTarget" default="plane"/>
  <arg name="mission" default="real"/>
  <arg name="IDShuttle" default="2"/>
  <arg name="IDTarget" default="1"/>

  <!-- Define the namespace for this drone being launched -->
  <arg name="namespaceShuttle" value="$(arg nameShuttle)$(arg IDShuttle)"/>
  <arg name="namespaceTarget" value="$(arg nameTarget)$(arg IDTarget)"/>

  <!-- Load global vehicle parameters -->
  <rosparam command="load" file="$(find drone_bringup)/config/$(arg mission)/$(arg nameShuttle)/config.yaml"/>
  <param name="IDShuttle" type="int" value="$(arg IDShuttle)"/>
  <param name="namespaceShuttle" type="string" value="$(arg namespaceShuttle)"/>
  <param name="IDTarget" type="int" value="$(arg IDTarget)"/>
  <param name="namespaceTarget" type="string" value="$(arg namespaceTarget)"/>



</launch>
